*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
height: 100vh;
display: flex
background-image: url(/Images/background.jfif) 
}

.game-board{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: lime solid 2px;
}

.card{
    width: calc(25% -10px);
    height: calc(33.33% - 10px);
    border: 2px solid red;
    position: relative;
    margin: 5px;
}

.front{
    height: 281px;
    width: 200px;
}

.front .back{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    border: 2px blue solid;
    background: blue;

}