
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background : url(/Images/Breaker.png) center center no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.grid {
max-height:100vh;
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 15vh;
  width: 15vw;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background: url(/images/BackCard.Png) no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background:none !important;
}

timer{
    font-size: 100%;
}
;

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FF6D00;
  font-family: Creepy, serif;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

.overlay-text-small {
  font-size: .3em;
}